@import 'styles/variables.scss';

.dropdown {
  position: relative;
  width: 100%;
  &__heading {
    font-weight: 300;
    margin: 0;

    &__mandatory{
      color: $color-coralRed;
    }
  }
&__error{
  color: $color-coralRed;
  font-size: 14px;
  position: absolute;
}
  &__errorBorder{
    border: 1.5px solid $color-coralRed !important;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border: 1px solid $color-gallery;
    padding: 0 10px;
    height: 40px;
    border-radius: 5px;
    color: $color-gray;
    box-shadow: 0 0 3px $color-gallery;
    position: relative;
  }

  &__list {
    position: absolute;
    background-color: $color-white;
    border: 1px solid $color-gallery;
    
    width: 100%;
    border-radius: 5px;
    z-index: 1;
    max-height: 200px;
    overflow: auto;

    &__listWrapper {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    .listWrapper {
      &__item {
        padding: 10px;
        cursor: pointer;
        border-bottom: 1px solid $color-gallery;
        font-weight: 300;
        &:last-child{
          border: none;
        }
        &:hover {
          background-color: $color-aliceBlue;
        }

        &__label {
          display: block;
          width: auto;
        }

        &__checkbox {
          display: none;
          & + label {
            position: relative;
            cursor: pointer;
          }

          & + label:before {
            content: "";
            margin-right: 10px;
            display: inline-block;
            vertical-align: text-top;
            width: 20px;
            height: 20px;
            border: 2px solid $color-nobel;
            box-sizing: border-box;
          }

          &:checked + label:before {
            background: $color-dodgerBlue;
            border: none;
          }

          &:checked + label:after {
            content: "";
            position: absolute;
            left: 5px;
            top: 9px;
            background: $color-white;
            width: 2px;
            height: 2px;
            box-shadow: 2px 0 0 $color-white, 4px 0 0 $color-white, 4px -2px 0 $color-white,
              4px -4px 0 $color-white, 4px -6px 0 $color-white, 4px -8px 0 $color-white;
            transform: rotate(45deg);
          }
        }
      }
    }
  }

  &__arrowIcon {
    font-size: 25px;
    opacity: 0.6;
  }
}
