$color-red: red;
$color-gallery: #eeeeee;
$color-gray: #808080;
$color-white: white;
$color-aliceBlue: #f5faff;
$color-dodgerBlue: #079fff;
$color-nobel: #b4b4b4;

$color-coralRed: #fe414d;
$color-grey-light: #f2f2f2;
$color-black: black;

$color-grey-light: #ddd;
